---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import Navbar from '../../components/Navbar.astro';
---

<Layout title="Other">
	<main>
		<Navbar></Navbar>
        <div class=""><h1 class="text-3xl text-white p-5 text-center" style="font-family: 'cubano';">Other Downloads</h1></div>
		<br />

		
		
	</main>
	<br />
</Layout>