---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import Navbar from '../../components/Navbar.astro';
---

<Layout title="404 Not Found">
	<main>
		<Navbar></Navbar>
		

		
		
        <h2 class="text-4xl text-white text-center p-5" style="font-family: 'cubano';">404 Not Found</h2>
        <section class="hero container max-w-screen-lg mx-auto pb-10">
            <img src="../../public/" class="p-5 mx-auto" />
        </section>
			<h2 class="text-white p-5 text-lg text-center" style="font-family: 'sofia-pro';">
                Bonnie could not find what you were looking for and he recommendes you to go back home
            </h2>
		<br />
		<div class="text-center"><a href="/" style="font-family: 'cubano';" 
			class="text-white text-2xl p-5 border-2 rounded-md border-white hover:bg-white hover:text-black hover:shadow-2xl transition-colors duration-300">Go back Home</a></div>
            
	</main>
	<br />
</Layout>