---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import Navbar from '../../components/Navbar.astro';
---

<Layout title="Senary Saloon">
	<main>
		<Navbar></Navbar>
		<img src="../../public/bg.png" class="grayscale"/>
		<br />

		
		<h2 class="text-4xl text-white text-center p-5" style="font-family: 'cubano';">Senary Saloon</h2>
		<div class="text-center"><a href="/download" style="font-family: 'cubano';" class="text-white text-2xl p-5">Start now</a></div>
	</main>
	<br />
</Layout>