---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="TODO">
	<main>
		<Navbar></Navbar>
		<img src="../../public/bg.png" class="grayscale"/>
		<br />


		
		<h2 class="text-4xl text-white text-center p-5" style="font-family: 'cubano';">About</h2>
		<p class="text-white p-5 text-lg" style="font-family: 'sofia-pro';">MC FNAF is a minecraft modpack based on Five nights at Freedy's</p>
	</main>
	<br />
</Layout>