---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="FNAF Modpack">
	<main>
		<Navbar></Navbar>
		<img src="../../public/bg.png" class="grayscale"/>
		

		
		<h2 class="text-4xl text-white text-center p-5" style="font-family: 'cubano';">About</h2>
		<div class="flex">
			<p class="text-white p-5 text-lg" style="font-family: 'sofia-pro';">
					The FNAF (Five Nights at Freddy's) Minecraft Modpack is an exciting and popular modpack that brings the world of FNAF to Minecraft. The modpack adds a variety of new features to the game, such as new mobs, items, and blocks, all based on the characters and themes from the FNAF franchise.

			The modpack includes several new blocks that allow you to build your own FNAF-themed structures, including animatronic characters, pizzerias, and security rooms. The modpack also adds several new items that can be used to defend yourself against the animatronics, such as flashlights, cameras, and security doors.

			One of the most popular features of the FNAF Minecraft Modpack is the addition of new mobs based on the characters from the FNAF franchise. These mobs include Freddy Fazbear, Bonnie, Chica, Foxy, and many others, each with their own unique abilities and behaviors.

			The FNAF Minecraft Modpack is a great way to bring the world of FNAF to Minecraft, and it's a must-have for any FNAF fan or Minecraft player looking for a new challenge. Whether you're building your own pizzeria, defending yourself against the animatronics, or simply exploring the world of FNAF in Minecraft, this modpack is sure to provide hours of fun and excitement.
				</p>
			<img src="../../public/FOXYEMOJI.png" />
		</div>
		<div class="text-center"><a href="/download" style="font-family: 'cubano';" 
			class="text-white text-2xl p-5 border-2 rounded-md border-white hover:bg-white hover:text-black hover:shadow-2xl transition-colors duration-300">Start now</a></div>
	</main>
	<br />
</Layout>