---

---

<nav class="flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-6 px-6 shadow-lg sm:items-baseline w-full bg-slate-950">
    <div class="mb-2 sm:mb-0">
        <a href="/" class="text-white float-left" style="font-family: 'cubano';"><img src="../../public/FREDBEAREMOJI.png" width="32px" height="32px" /></a>
        <a href="/" class="text-white" style="font-family: 'cubano';">Home</a>
    </div>
    <div>
		<a href="/status" class="text-lg no-underline text-grey-darkest hover:text-blue-900 ml-2 text-white" style="font-family: 'cubano';">Status</a>
    <a href="#" class="text-lg no-underline text-grey-darkest hover:text-blue-900 ml-2 text-white" style="font-family: 'sofia-pro';">Gallery</a>

		<a href="/download" class="text-lg no-underline text-grey-darkest hover:text-blue-900 ml-2 text-white font-bold" style="font-family: 'attribute-mono';">Download</a>
    
    </div>
</nav>